DEFAULT_PROVIDER=gemini

GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash

OLLAMA_BASE_URL=http://localhost:11434/v1/
OLLAMA_DEEPSEEK_MODEL=deepseek-v3.1:671b-cloud
OLLAMA_LLAMA_MODEL=llama3:latest
OLLAMA_GEMMA_SMALL_MODEL=gemma3:1b
OLLAMA_GEMMA_MEDIUM_MODEL=gemma3:4b
OLLAMA_GPT_OSS_MODEL=gpt-oss:120b-cloud
